
:root {
    /* amarillo brillante */
    --shimmer-hue-1: 58deg;
    --shimmer-sat-1: 100%;
    --shimmer-lit-1: 88%;

    /* amarillo principal */
    --shimmer-hue-2: 56deg;
    --shimmer-sat-2: 100%;
    --shimmer-lit-2: 78%;

    /* amarillo profundo */
    --shimmer-hue-3: 54deg;
    --shimmer-sat-3: 100%;
    --shimmer-lit-3: 68%;

    --glow-hue: 58deg;
    --shadow-hue: 52deg;

    --spring-duration: 1.33s;
    --spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
            1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
            1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
            0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
            0.998 84%, 1);

}

@property --mask {
    syntax: "<angle>";
    inherits: false;
    initial-value: 33deg;
}

.shimmer {
    position: absolute;
    inset: -20px;
    border-radius: inherit;
    mix-blend-mode: color-dodge;
    mix-blend-mode: plus-lighter;
    pointer-events: none;
}

.shimmer::before,
.shimmer::after {
    transition: all 0.5s ease;
    opacity: 0;
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 20px;
}

.shimmer::before {
    box-shadow:
        0 0 2px 0px hsl(var(--shimmer-hue-1) 30% 90%),
        0 0 4px 1px hsl(var(--shimmer-hue-1) 40% 75%),
        0 0 8px 2px hsl(var(--shimmer-hue-2) 60% 65%),
        0 0 12px 3px hsl(var(--shimmer-hue-2) 60% 55%);
    z-index: -1;
}

.shimmer::after {
    box-shadow:
        inset 0 0 0 1px hsl(var(--shimmer-hue-2) 80% 85%),
        inset 0 0 2px 0px hsl(var(--shimmer-hue-2) 90% 75%),
        inset 0 0 6px 1px hsl(var(--shimmer-hue-2) 90% 65%);
    z-index: 2;
}


.mvp-button[disabled] {
    background: rgb(76 76 92);
    background-image: none;
}

.mvp-button:hover:not(:active):not([disabled]) {
    scale: 1.1;
    transition-duration: calc(var(--spring-duration)*0.5);
}

.mvp-button:active:not([disabled]) {
    scale: 1.05;
    transition-duration: calc(var(--spring-duration)*0.5);
}

.mvp-button:focus .shimmer,
.mvp-button:active .shimmer {
    animation-play-state: paused !important;
    mask-image: none !important;
}

.mvp-button:hover:not([disabled]) .shimmer::before,
.mvp-button:hover:not([disabled]) .shimmer::after {
    opacity: 1;
}

.mvp-button:not([disabled]) .shimmer::before,
.mvp-button:not([disabled]) .shimmer::after {
    opacity: 1;
}

.mvp-button:not([disabled]) .shimmer {
    mask-image: conic-gradient(from var(--mask, 0deg),
            transparent 0%,
            transparent 10%,
            black 36%,
            black 45%,
            transparent 50%,
            transparent 60%,
            black 85%,
            black 95%,
            transparent 100%);
    mask-size: cover;
    animation: spin 3s linear infinite both -0.5s;
}

.mvp-button[data-effect=wave] .shimmer {
    mask-image: linear-gradient(90deg,
            transparent 15%,
            rgb(0, 0, 0) 45%,
            black 55%,
            transparent 85%);

    mask-size: 200% 200%;
    animation: wipe 3s linear infinite;
}

@keyframes wipe {
    0% {
        mask-position: 200% center;
    }

    100% {
        mask-position: 0% center;
    }
}

.dark .mvp-button {
    position: relative;
    isolation: isolate;
    border-radius: 0.66em;
    overflow: visible;
}