.theme-shimmer-dorado {
    /* brillo */
    --shimmer-hue-1: 38deg;
    --shimmer-sat-1: 60%;
    --shimmer-lit-1: 79%;

    --shimmer-hue-2: 38deg;
    --shimmer-sat-2: 58%;
    --shimmer-lit-2: 45%;

    /* profundo */
    --shimmer-hue-3: 38deg;
    --shimmer-sat-3: 55%;
    --shimmer-lit-3: 35%;

    --glow-hue: 58deg;
    --shadow-hue: 52deg;

    --spring-duration: 1.33s;
    --spring-easing: linear(0, 0.002, 0.01 0.9%, 0.038 1.8%, 0.156, 0.312 5.8%, 0.789 11.1%, 1.015 14.2%,
            1.096, 1.157, 1.199, 1.224 20.3%, 1.231, 1.231, 1.226, 1.214 24.6%,
            1.176 26.9%, 1.057 32.6%, 1.007 35.5%, 0.984, 0.968, 0.956, 0.949 42%,
            0.946 44.1%, 0.95 46.5%, 0.998 57.2%, 1.007, 1.011 63.3%, 1.012 68.3%,
            0.998 84%, 1);
}

.theme-shimmer-gris {
    --shimmer-hue-1: 0deg;
    --shimmer-sat-1: 0%;
    --shimmer-lit-1: 60%;

    --shimmer-hue-2: 0deg;
    --shimmer-sat-2: 0%;
    --shimmer-lit-2: 45%;

    --shimmer-hue-3: 0deg;
    --shimmer-sat-3: 0%;
    --shimmer-lit-3: 35%;
}

@property --mask {
    syntax: "<angle>";
    inherits: false;
    initial-value: 33deg;
}

.shimmer {
    position: absolute;
    inset: -20px;
    border-radius: inherit;
    mix-blend-mode: color-dodge;
    mix-blend-mode: plus-lighter;
    pointer-events: none;
}

.shimmer::before,
.shimmer::after {
    transition: all 0.5s ease;
    opacity: 0;
    content: "";
    border-radius: inherit;
    position: absolute;
    inset: 20px;
}

.shimmer::before {
    box-shadow:
        0 0 2px 0px hsl(var(--shimmer-hue-1) var(--shimmer-sat-1) var(--shimmer-lit-1)),
        0 0 4px 1px hsl(var(--shimmer-hue-1) var(--shimmer-sat-1) var(--shimmer-lit-1)),
        0 0 8px 2px hsl(var(--shimmer-hue-2) var(--shimmer-sat-2) var(--shimmer-lit-2)),
        0 0 12px 3px hsl(var(--shimmer-hue-2) var(--shimmer-sat-2) var(--shimmer-lit-2));
    z-index: -1;
}

.shimmer::after {
    box-shadow:
        inset 0 0 0 1px hsl(var(--shimmer-hue-2) var(--shimmer-sat-2) var(--shimmer-lit-2)),
        inset 0 0 2px 0px hsl(var(--shimmer-hue-2) var(--shimmer-sat-2) var(--shimmer-lit-2)),
        inset 0 0 6px 1px hsl(var(--shimmer-hue-2) var(--shimmer-sat-2) var(--shimmer-lit-2));
    z-index: 2;
}


.mvp-button[disabled] {
    background: rgb(76 76 92);
    background-image: none;
}

.mvp-button:hover:not(:active):not([disabled]) {
    scale: 1.1;
    transition-duration: calc(var(--spring-duration)*0.5);
}

.mvp-button:active:not([disabled]) {
    scale: 1.05;
    transition-duration: calc(var(--spring-duration)*0.5);
}

.mvp-button:focus .shimmer,
.mvp-button:active .shimmer {
    animation-play-state: paused !important;
    mask-image: none !important;
}

.mvp-button:hover:not([disabled]) .shimmer::before,
.mvp-button:hover:not([disabled]) .shimmer::after {
    opacity: 1;
}

.mvp-button:not([disabled]) .shimmer::before,
.mvp-button:not([disabled]) .shimmer::after {
    opacity: 1;
}

.mvp-button:not([disabled]) .shimmer {
    mask-image: conic-gradient(from var(--mask, 0deg),
            transparent 0%,
            transparent 10%,
            black 36%,
            black 45%,
            transparent 50%,
            transparent 60%,
            black 85%,
            black 95%,
            transparent 100%);
    mask-size: cover;
    animation: spin 3s linear infinite both -0.5s;
}

.mvp-button[data-effect=wave] .shimmer {
    mask-image: linear-gradient(90deg,
            transparent 15%,
            rgb(0, 0, 0) 45%,
            black 55%,
            transparent 85%);

    mask-size: 200% 200%;
    animation: wipe 3s linear infinite;
}

@keyframes wipe {
    0% {
        mask-position: 200% center;
    }

    100% {
        mask-position: 0% center;
    }
}

.dark .mvp-button {
    position: relative;
    isolation: isolate;
    overflow: visible;
}

.mvp-tag {
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #2c1e0e;
    text-shadow: 0 1px 2px rgba(255, 255, 255, 0.6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), inset 0 2px 4px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    justify-items: center;
    transition: transform 0.2s;
}

.mvp-tag::after {
    content: '';
    position: absolute;
    top: 0;
    left: -150%;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 240, 0.7) 50%,
            rgba(255, 255, 255, 0) 100%);
    transform: skewX(-20deg);
    animation: shine 3s infinite;
    pointer-events: none;
}

@keyframes shine {
    0% {
        left: -150%;
    }

    20% {
        left: 100%;
    }

    100% {
        left: 100%;
    }

}

.mvp-completed {
    background: linear-gradient(135deg, #f3de9f, #dbb159, #b3842f);
    padding-left: 3px;
    padding: 2px;
    font-size: 0.58rem;
}
.mvp-abandoned {
    background: linear-gradient(135deg, #a7a6a4, #b8b7b7, #727271);
    padding: 3px 5px;
    font-size: 0.58rem;
}

.mvp-abandoned::after , .mvp-completed::after {
    background: linear-gradient(135deg,
            rgba(255, 255, 255, 0) 30%,
            rgba(255, 250, 210, 0.9) 50%,
            rgba(255, 255, 255, 0) 70%);
    transform: skewX(0deg);
    animation: shineSlow 4s infinite;
}

@keyframes shineSlow {
    0% {
        left: -150%;
        top: 0;
    }

    30% {
        left: 100%;
        top: 0;
    }

    100% {
        left: 100%;
        top: 0;
    }
}

@keyframes shineFast {
    0% {
        left: -150%;
    }

    15% {
        left: 100%;
    }

    100% {
        left: 100%;
    }
}

@keyframes rotateGlow {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.mvp-tag span {
    z-index: 2;
}

.mvp-tag span {
    padding-left: 2px;
}