.tab-container {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.tab-button {
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 0.25rem;
    margin: 0 0.25rem;
    transition: background-color 0.3s, color 0.3s;
}

.tab-button.active {
    background-color: #3b82f6;
    color: white;
}

.tab-button.inactive {
    background-color: #d1d5db;
    color: black;
}

.tab-line {
    position: absolute;
    bottom: 0;
    height: 2px;
    background-color: #3b82f6;
    transition: left 0.3s, width 0.3s;
}

.tab-content-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.tab-content {
    min-width: 100%;
    transition: opacity 0.3s;
}

.table-custom {
    background-color: #707070;
    border-collapse: collapse;
    border: none;
    width: 100%;
}

.table-custom th,
.table-custom td {
    padding: 8px;
}

.table-custom th {
    font-display: normal;
    font-weight: 500;
}

.tablapartida td, .tablapartida th{
    background: transparent;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 10px;
}

.tablapartida tbody tr {
    background-color: rgba(255, 255, 255, 0.5);
}
.tablapartida thead tr {
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
}