
th, td{
    padding: 10px;
    padding-left: 20px;
}
table{
    font-size: 0.85rem;
}
th{
    text-align: left;
    background-color: #e0dfdf;
    
}
tr{
    background-color: rgb(240, 238, 238);
}

title{
    text-align: center;
}

.lightlevel{
    font-weight: 500;
}