@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://db.onlinewebfonts.com/c/6e47ef470dd19698c911332a9b4d1cf4?family=Neue+Haas+Grotesk+Text+Pro");
body{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-color: #f3f4f6;
    color: #1f2937;
}
.emblema{
    font-family: 'Neue Haas Grotesk Text Pro', sans-serif
}
@font-face {
    font-family: "Destiny Symbols Common";
    src: url(./assets/fonts/destiny_symbols_common.otf) format('opentype');
}

.icon-AutoRifle::before {
    content: "\E100";
    font-family: "Destiny Symbols Common";
}

.icon-BeamRifle::before {
    content: "\E001";
    font-family: "Destiny Symbols Common";
}

.icon-Bow::before {
    content: "\E099";
    font-family: "Destiny Symbols Common";
}

.icon-FusionRifle::before {
    content: "\E106";
    font-family: "Destiny Symbols Common";
}

.icon-Glaive::before {
    content: "\E156";
    font-family: "Destiny Symbols Common";
}

.icon-GrenadeLauncher::before {
    content: "\E113";
    font-family: "Destiny Symbols Common";
}

.icon-HandCannon::before {
    content: "\E103";
    font-family: "Destiny Symbols Common";
}

.icon-MachineGun::before {
    content: "\E154";
    font-family: "Destiny Symbols Common";
}

.icon-PulseRifle::before {
    content: "\E101";
    font-family: "Destiny Symbols Common";
}

.icon-RocketLauncher::before {
    content: "\E108";
    font-family: "Destiny Symbols Common";
}

.icon-ScoutRifle::before {
    content: "\E102";
    font-family: "Destiny Symbols Common";
}

.icon-Shotgun::before {
    content: "\E104";
    font-family: "Destiny Symbols Common";
}

.icon-SideArm::before {
    content: "\E109";
    font-family: "Destiny Symbols Common";
}

.icon-Sniper::before {
    content: "\E105";
    font-family: "Destiny Symbols Common";
}

.icon-Submachinegun::before {
    content: "\E107";
    font-family: "Destiny Symbols Common";
}

.icon-Sword::before {
    content: "\E153";
    font-family: "Destiny Symbols Common";
}

.icon-TraceRifle::before {
    content: "\E007";
    font-family: "Destiny Symbols Common";
}

.icon-na::before {
    content: " -";
}

.icon-light::before {
    content: "\E052";
    font-family: "Destiny Symbols Common";
}

.icon-1::before {
    content: "\2776";
    font-family: "Destiny Symbols Common";
}

.icon-2::before {
    content: "\2777";
    font-family: "Destiny Symbols Common";
}

.icon-3::before {
    content: "\2778";
    font-family: "Destiny Symbols Common";
}

.icon-4::before {
    content: "\2779";
    font-family: "Destiny Symbols Common";
}

.icon-5::before {
    content: "\277A";
    font-family: "Destiny Symbols Common";
}

.icon-6::before {
    content: "\277B";
    font-family: "Destiny Symbols Common";
}

.icon-7::before {
    content: "\277C";
    font-family: "Destiny Symbols Common";
}

.icon-8::before {
    content: "\277D";
    font-family: "Destiny Symbols Common";
}

.icon-9::before {
    content: "\277E";
    font-family: "Destiny Symbols Common";
}

.icon-10::before {
    content: "\277F";
    font-family: "Destiny Symbols Common";
}

.icon-11::before {
    content: "\24EB";
    font-family: "Destiny Symbols Common";
}

@import "tailwindcss";